*{
    padding: 0;
    margin: 0;
    font-family: 'josefin sans';
    color: antiquewhite;
   
}

body {
    background-image: url("mountain sunset.jpeg");
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-left: 7%;
    padding-right: 7%;
    font-size: larger;
    background-color: grey;

     
}

.name {
    text-align: centered;
    text-decoration: underline;
    cursor: pointer;

}
nav, ul, li {

    float: center;
    padding: 5px 5px
    
}
    

   
    
    

    
   
   

}