*{
    padding: 0;
    margin: 0;
    font-family: 'josefin sans';
    color: antiquewhite;
    
}

html {
    scroll-behavior: smooth;

}

/* Header, links and nav*/



ul {
    display:flex;
    justify-content: space-between;
    gap: 25px 25px 25px 25px;
    row-gap: 25px;
    column-gap: 25px;
}

h1, nav{

    display:inline-flex;
    justify-content: space-evenly;
    
}

/* Body, h2's and images*/




body {
    background-image: url("../images/mountain sunset.jpeg");
    align-items: center;
}




nav {

    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px ;
    font-size: larger;
     
}




.name, h2 {
    text-align: centered;
   
    cursor: pointer;

}
nav, ul, li {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 5px;
    list-style-type: none;
   
}

/* section {
    background-image: url("../images/IMG_8018.jpeg");
    background-repeat: no-repeat;
    min-height: 95%;
    font-family: 'Numans', sans-serif;
    align-content: center;
    flex-wrap: wrap;
    } */

/* .content{
    border: 3px solid white ;
    background-color: black;
} */

.pics {

height: 50%;
width: 100%;
border: 5px;
border-image: stretch;
border-style: ridge;
}


    








    
    
  
    

   
    
    

    
   
   

